#product_detail_name {
    font-weight: bold;
    color: #5a6175;
}

#product_detail_text {
    color: grey;
    text-align: left;
    padding-bottom: 25px;
    border-bottom: 1px solid grey;
}

#product_qty {
    text-align: center;
    max-width: 50px;
}

.product-thumbnail {
    width: 60%;
    margin: 10px;
}

#product_picture {
    width: 100%;
}